.loading {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 1rem;
}

.filmes__lista {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.filmes__lista article {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
    border: 2px solid rgb(0, 0, 0, 0.3);
    border-radius: 10px;
    height: 400px;
    margin: 1rem;
    padding: 1rem;
}

.filmes__lista article div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filmes__titulo {
    padding: .7rem
}

.filmes__img {
    padding-top: 1rem;
    height: 250px;
    object-fit: contain;
}

.filmes__acessar {
    background-color: #0066ff;
    border-radius: 8px;
    margin-top: 1rem;
    padding: .5rem 1.3rem;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 20px;
}

.filmes__acessar:hover {
    transition: all .5s;
    background-color: #0046af;
}