.erro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.erro div {
    text-align: center;
    margin-bottom: 7rem;
}

.erro h1 {
    font-size: 5rem;
}

.erro h2 {
    padding-top: .5rem;
}

.erro h3 {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}

.erro a {
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 5px;
    background-color: #0066ff;
    color: #fff;
    padding: .5rem 1rem;
}

.erro a:hover {
    color: #333333;
    background-color: #4992ff;
}